body{
  background-color: rgb(14, 4, 71);
}
.main-div{
    height: 100px;
    width: 300px;
    
    margin: 150px 100px;
}
.child-div{
  margin: 20px 55px;
}
.heading{
    text-align: center;
    font-size: 15px;
    margin: 10px;
    color: #ada1a1;
}